@import 'tailwindcss';
@import 'tw-animate-css';
@import './gradients.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-border: var(--color-white);
    --color-input: var(--color-white);
    --color-ring: var(--color-white);

    --color-primary-50: var(--color-pink-50);
    --color-primary-100: var(--color-pink-100);
    --color-primary-200: var(--color-pink-200);
    --color-primary-300: var(--color-pink-300);
    --color-primary-400: var(--color-pink-400);
    --color-primary-500: var(--color-pink-500);
    --color-primary-600: var(--color-pink-600);
    --color-primary-700: var(--color-pink-700);
    --color-primary-800: var(--color-pink-800);
    --color-primary-900: var(--color-pink-900);
    --color-primary-950: var(--color-pink-950);

    --color-success-50: var(--color-green-50);
    --color-success-100: var(--color-green-100);
    --color-success-200: var(--color-green-200);
    --color-success-300: var(--color-green-300);
    --color-success-400: var(--color-green-400);
    --color-success-500: var(--color-green-500);
    --color-success-600: var(--color-green-600);
    --color-success-700: var(--color-green-700);
    --color-success-800: var(--color-green-800);
    --color-success-900: var(--color-green-900);
    --color-success-950: var(--color-green-950);
    --color-success: var(--color-success-500);

    --color-negative-50: var(--color-red-50);
    --color-negative-100: var(--color-red-100);
    --color-negative-200: var(--color-red-200);
    --color-negative-300: var(--color-red-300);
    --color-negative-400: var(--color-red-400);
    --color-negative-500: var(--color-red-500);
    --color-negative-600: var(--color-red-600);
    --color-negative-700: var(--color-red-700);
    --color-negative-800: var(--color-red-800);
    --color-negative-900: var(--color-red-900);
    --color-negative-950: var(--color-red-950);
    --color-negative: var(--color-negative-500);

    --color-background: var(--color-purple-950);
    --color-foreground: var(--color-slate-50);

    --color-primary: var(--color-primary-500);
    --color-primary-foreground: var(--color-white);
    --color-success: var(--color-success-500);
    --color-success-foreground: var(--color-white);
    --color-negative: var(--color-negative-500);
    --color-negative-foreground: var(--color-white);
}

@layer base {
    * {
        @apply border-border/20 outline-ring/50;
    }
    body {
        @apply m-0;
        @apply pt-[env(safe-area-inset-top)] pb-[env(safe-area-inset-bottom)] pl-[env(safe-area-inset-left)] pr-[env(safe-area-inset-right)];
        @apply text-foreground;
        @apply bg-background bg-fixed;
        @apply bg-gradient-brand;

        font-family:
            -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
            'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    }
}
